body {
  padding: 50px;
  min-height: 600px;
  height: auto;
  overflow: auto;
  font-family: 'Roboto', "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  background: #eef0f3;
  color: #555;
}
h1 {
  font-weight: 200;
  margin-top: 0;
}
.overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 3;
}
.loading {
  position: fixed;
  top: 50%;
  left: 47%;
  z-index: 1000000;
}
.app {
  width: 940px;
]  margin: 0 auto;
}
.assignment-list, .assignment-details {
  background: #FFFFFF;
  border-bottom: 2px solid #e4e7ec;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(238,240,243,.6);
}
.assignment-list {
  width: 220px;
  margin-right: 20px;
  display: inline-block;
  float: left;
}
.assignment-details {
  width: 700px;
  position: relative;
  display: inline-block;
  height: auto;
}
.menu span:first-child {
  border-top-left-radius: 3px;
}
.menu span:last-child {
  border-top-right-radius: 3px;
  position: relative;
  left: 1px;
}
.menu, .list-header {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.menu {
  margin: 0 auto;
}
.menu span {
  display: inline-block;
  text-align: center;
  width: 308px;
  padding: 20px;
}
.assignment-item, .description, .submission-student {
  padding: 20px;
}
.assignment-item:hover, .submission-student:hover {
  background: #dae9fb;
}
.assignment-item-title, .assignment-item-due-date {
  display: block;
}
.assignment-item-due-date {
  font-size: 13px;
  margin-top: 5px;
}
.assignment-title {
  font-size: 24px;
}
.assignment-due-date {
  float: right;
  position: relative;
  top: 8px;
}
.list-header {
  padding: 20px 20px;
  background: #e4e7ec;
}
.menu span {
  background: #e4e7ec;
}
.menu span.selected {
  background: #FFFFFF;
}
.avatar {
  width: 50px;
  border-radius: 5px;
  display: inline-block;
}
.avatar img {
  border-radius: 25px;
}
.student-name {
  clear: both;
  line-height: 16px;
  position: relative;
  top: -14px;
}
.hide-submission {
  font-size: 13px;
  color: #2079e9;
  display: block;
  margin-top: 30px;
  float: right;
}
.submission-student {
  overflow: auto;
  position: relative;
}
.submission-student.open, .assignment-item.selected {
  background: #f8f9fa;
}
.assignment-submitted-date {
  float: right;
  position: relative;
  top: 14px;
}
.submission-content {
  line-height: 22px;
  position: relative;
}
